body {
    margin: 0;
}

.space {
    margin: 5px;
    padding: 5px;
}

.navbar {
    background-color: #9d03a5;
    color: white; 
  }

 /* .shadow {
    color: white;
    text-shadow: 2px 2px 4px #9d03a5;
  } */