* {
    box-sizing: border-box;
    background-color: #F3F2E9;
}

body {
    margin: 0;
}

header {
    background-color: #F3F2E9;
    color: #black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
}

.nav ul {
    padding: -;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}